@model MVCModels.CalendarEvent
@{
    ViewBag.Title = "Create";
}


<script type="text/javascript">
    $(document).ready(function () {
        $('.bDate').datetimepicker({ dateFormat: "mm/dd/yy", timeFormat: "hh:mm TT" });

        showHideOptions("@Model.durationoption");
        showHideRepDiv("@Model.isrepeated");
        $("input[name$='durationoption']").click(function () {
            var val = $(this).val();
            showHideOptions(val);
        });
        $("input[name$='isrepeated']").click(function () {
            var val = $(this)[0].checked;
            showHideRepDiv(val);
        });
        function showHideRepDiv(val) {
            if (val == "True") {
                val = true;
            } else if (val == "False") {
                val = false;
            }
            if (val){
                $("#repDiv").show();
            } else {
                $("#repDiv").hide();
            }
        }
        function showHideOptions(val) {
            if (val == "Untill") {
                $("#untilDate").show();
                $("#minutes").hide();
            } else if (val == "DurationInMunites") {
                $("#untilDate").hide();
                $("#minutes").show();
            } else {
                $("#untilDate").hide();
                $("#minutes").hide();
            }
        }

    });
</script>
<div class="row">
    <div class="span12">
        <div class="widget widget-nopad">
            @using (Html.BeginForm("ConfirmCreate", "Event"))
            {
                @Html.AntiForgeryToken()
                @Html.ValidationSummary(true)
                @Html.Hidden("id")
                    <div class="widget-header">
                        <i class="icon-list-alt"></i>
                        <h3>Create New Event</h3>
                    </div>
                    <div class="widget-content" style="padding:10px;">
                        <h4>General</h4>
                        <div style="margin-left:10px;">
                            <div class="editor-label">
                           
                                @Html.LabelFor(model => model.title)
                            </div>
                            <div class="editor-field">
                                @Html.EditorFor(model => model.title)
                                @Html.ValidationMessageFor(model => model.title)
                            </div>

                            <div class="editor-label">
                                @Html.LabelFor(model => model.description)
                            </div>
                            <div class="editor-field">
                                @Html.TextAreaFor(model => model.description)
                                @Html.ValidationMessageFor(model => model.description)
                            </div>

                            <div class="editor-label">
                                @Html.LabelFor(model => model.startdate)
                            </div>
                            <div class="editor-field">
                                @Html.TextBoxFor(model => model.startdate, "{0:MM/dd/yyyy}", new { @class = "bDate",    @placeholder = "Select Date" })
                                @Html.ValidationMessageFor(model => model.startdate)
                            </div>
                        </div>
                        <h4>Duration</h4>
                        <div style="margin-left:10px;">
                            <div class="editor-field">
                                 @Html.RadioButtonFor(model => model.durationoption, MVCModels.DurationOptions.WithoutDuration) Without Duration
                            </div>
                            <div class="editor-field">
                                 @Html.RadioButtonFor(model => model.durationoption, MVCModels.DurationOptions.Untill) Untill 
                            </div>
                            <div class="editor-field" id="untilDate" style="display:none">
                                @Html.TextBoxFor(model => model.durationuntill, "{0:MM/dd/yyyy}", new { @class = "bDate", @placeholder = "Select Date" })
                                @Html.ValidationMessageFor(model => model.durationuntill)
                            </div>
                            <div class="editor-field">
                                @Html.RadioButtonFor(model => model.durationoption, MVCModels.DurationOptions.DurationInMunites)Duration In Munites
                            </div>
                            <div class="editor-field" id="minutes" style="display:none">
                                @Html.EditorFor(model => model.durationinminutes)
                                @Html.ValidationMessageFor(model => model.durationinminutes)
                            </div>
                        </div>
                        
                        <h4>Repeated Events</h4>
                        <div style="margin-left:10px;">
                            <div class="editor-label">
                                @Html.LabelFor(model => model.isrepeated)
                                @Html.EditorFor(model => model.isrepeated)
                                @Html.ValidationMessageFor(model => model.isrepeated)
                            </div>
                            <div id="repDiv" style="display:none">
                                <div class="editor-label">
                                    @Html.LabelFor(model => model.repeatedweekly)
                                </div>
                                <div class="editor-field">
                                    @Html.EditorFor(model => model.repeatedweekly)
                                    @Html.ValidationMessageFor(model => model.repeatedweekly)
                                </div>
                            </div>
                        </div>
                        <p>
                            <button type="submit" value="Create" class="btn btn-primary" >Create Event</button>
                        </p>
                    </div>
            }
        </div>
    </div>
</div>



        <script type="text/javascript" language="javascript">

        @{
            var id = 0;
            if (Model != null)
            {
                id = Model.id;
            }
        }
            document.getElementById("id").value = "@id";
        </script>

